/* reset.css  제작하세요. */
*{
  margin: 0;
  padding: 0;
  }
  a{
  text-decoration: none;
  color:inherit;
  }
  li{
  list-style-type: none;
  }
  img{
  vertical-align: middle;
  border:none;
  /* 링크 걸렸을때 테두리 감추기 위함 */
  }
  body{
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  /* 가독성을 높이기 위해서  */
  }
  header, footer, section, nav, aside, article, main{
  display: block;
  }